{% extends 'base.html.twig' %}

{% block body %}
    Test Rules! {{ job.caption }}
    <table>
        {% for level in job.levels %}
            <tr>
                <td><a href="#">Level {{ level.level }}</a></td>
            </tr>
        {% endfor %}
    </table>    
{% endblock %}

