body {
    margin: 0;
    font: 14px sans-serif;
}
.toppanel-logo {
    display: inline-block;
    font-size: 1.17em;
}
.toppanel-nav {
    margin: 0 auto;
    padding: 5px;
    width: 1080px;
    background: #fff;
}
.toppanel-ua-ctr {
    float: right;
    margin-left: 5px;
}