body {
    font: 10pt arial;
    color: #636363;
}
table{
    border-collapse: collapse;
}
table, td, th, .counter-button{
    border: 2px solid #aaa;
}
table, .filters-area, .countrer-container, .pagenav-container{
    margin-top: 10px;
}
th {
    position: relative;
}
td, th, .filters-area{ 
    padding: 10px;
}
.pl-container{
    padding: 10px;
    float:left;
}
.fld-artist{
    width: 150px;
}
.fld-genre, .fld-year{
    width: 85px;
}
.fld-track{
    width: 200px;   
}
.filter-container{
    position: fixed;
    left: 640px;
    padding: 10px;
    width: 130px;
    float:left;
}
.fld-filter{
    width: 110px;
    margin-bottom: 10px;
}
.rows-counter td {
    padding: 5px;
}
.rows-counter{
    float: right;
}
.filters-area, th, .counter-selected{
    background-color:#E0E0E0;
}
.countrer-container{
    display: inline-table;
    border-collapse: collapse; 
    float: right;
}
.counter-button{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    height: 25px;
    width: 25px;
}
a.counter-button:hover, tr:hover{
    background: #ffcc00;
}
.order-buttons {
    position: absolute;
    right: 10px;
    bottom: 4px;
}
.order-button-down, .order-button-up, .order-button-down-selected, .order-button-up-selected{
    border: 5px solid transparent; 
    position: absolute;
    right: 0px;
}
.order-button-up {	
    border-bottom: 10px solid #aaa;
    bottom: 14px;
}
a.order-button-up:hover{
    border-bottom: 10px solid #ffcc00;
}
.order-button-up-selected{
    border-bottom: 10px solid black;
}
.order-button-down {	
    border-top: 10px solid #aaa;
    top: 3px;
}
a.order-button-down:hover{
    border-top: 10px solid #ffcc00;
} 
.order-button-down-selected{
    border-top: 10px solid black;
}
.pagenav-container {
    display: inline-block;
}
.btn-page {
    text-decoration: none;
    display: table-cell; 
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin: 3px;
    width: 30px;
    height: 30px;
    border-spacing: 3px;
}
a.btn-page:hover {
    background: #ffcc00;
}
.page-selected {
    background: #E0E0E0;
}
.under_table-navigation{
    text-align: center;
}
.sticky{
    position: fixed;
    bottom: 0px
    z-index: 1000;
    height:43px;
}