{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="toppanel-nav">
            <div class="toppanel-logo"><b>Parse It All!</b></div>
            <div class="toppanel-ua-ctr">
                <span><a href="#">Sign In</a></span>
                <span><a href="#">Register</a></span>
            </div>
        </div>
    </header>
{% endblock %}
