{% extends 'PIABundle:Common:common.html.twig' %}

{% block content %}
    <table>
        {% for job in jobs %}
            <tr>
                <td>{{ job.caption }}</td>
                <td><a href="#">manage</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

